<<<<<<< Updated upstream
h1{
  position:static;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  

  }
 
  nav li {
    margin-right: 20px;
  }
  
  
  nav a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    font-size: 16px;
  }
<<<<<<< HEAD
  
=======

  
=======

  
>>>>>>> Stashed changes
>>>>>>> e71235fb38623ea0f0f926f1e17a25f157ab36f9
